interactions:
- request:
    body: '{"series": "World Series", "abstract": "The wonders of creating exotic
      baskets in an underwater environment", "month": 11, "edition": "First", "year":
      2014, "keywords": ["bambrology", "submarine"], "city": "Scunthorpe", "confirmed":
      true, "title": "Underwater basket weaving", "editors": [{"first_name": "John",
      "last_name": "Smith"}], "pages": "1-6", "source": "Journal of Submarine Bambrology",
      "issue": "73", "day": 14, "revision": "2", "tags": ["baskety", "wet"], "read":
      false, "volume": "loud", "authors": [{"first_name": "Piers", "last_name": "Bursill-Hall"}],
      "institution": "University of Cambridge", "chapter": "99", "publisher": "Elsevier",
      "type": "journal", "identifiers": {"doi": "doi123"}, "websites": ["http://example.com/foo",
      "http://example.com/bar"], "authored": false, "accessed": "2014-09-03", "starred":
      true, "group_id": null}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"9e771c37-cc4e-36f6-be09-e740d0df3aca","title":"Underwater
        basket weaving","type":"journal","authors":[{"first_name":"Piers","last_name":"Bursill-Hall"}],"year":2014,"source":"Journal
        of Submarine Bambrology","identifiers":{"doi":"doi123"},"keywords":["bambrology","submarine"],"created":"2014-10-06T16:39:12.000Z","pages":"1-6","volume":"loud","issue":"73","websites":["http://example.com/foo","http://example.com/bar"],"month":11,"publisher":"Elsevier","day":14,"city":"Scunthorpe","edition":"First","institution":"University
        of Cambridge","series":"World Series","chapter":"99","revision":"2","editors":[{"first_name":"John","last_name":"Smith"}],"accessed":"2014-09-03","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94","last_modified":"2014-10-06T16:39:12.000Z","tags":["baskety","wet"],"read":false,"starred":true,"authored":false,"confirmed":true,"abstract":"The
        wonders of creating exotic baskets in an underwater environment"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/9e771c37-cc4e-36f6-be09-e740d0df3aca']
      x-mendeley-trace-id: [M3h-8bNHjJc]
    status: {code: 201, message: Created}
- request:
    body: !!python/object:__builtin__.file {}
    headers:
      content-disposition: [attachment; filename=basket.txt]
      content-type: [text/plain]
      link: [!!python/unicode '<https://api.mendeley.com/documents/9e771c37-cc4e-36f6-be09-e740d0df3aca>;
          rel="document"']
    method: POST
    uri: https://api.mendeley.com:443/files
  response:
    body: {string: !!python/unicode '{"id":"43efe1c4-84cc-852d-1295-b7d457a1614e","document_id":"9e771c37-cc4e-36f6-be09-e740d0df3aca","mime_type":"text/plain","file_name":"Underwater
        basket weaving","size":178,"filehash":"92c7a71b371eb439579be559b5eac9c09a743c42"}'}
    headers:
      content-type: [application/vnd.mendeley-file.1+json]
      location: ['https://api.mendeley.com/files/43efe1c4-84cc-852d-1295-b7d457a1614e']
      x-mendeley-trace-id: [tqGW26ELKTY]
    status: {code: 201, message: Created}
version: 1
