PyYAML~=6.0
arrow~=1.2
contextlib2~=21.6
future~=0.18
memoized-property~=1.0
mock~=5.0
oauthlib~=3.2
py~=1.11
pytest~=7.3
python-dateutil~=2.8
requests~=2.31
requests-oauthlib~=1.3
six~=1.16
vcrpy~=4.3
wrapt~=1.15
