interactions:
- request:
    body: '{"series": "World Series", "abstract": "The wonders of creating exotic
      baskets in an underwater environment", "month": 11, "edition": "First", "year":
      2014, "keywords": ["bambrology", "submarine"], "city": "Scunthorpe", "confirmed":
      true, "title": "Underwater basket weaving", "editors": [{"first_name": "John",
      "last_name": "Smith"}], "pages": "1-6", "source": "Journal of Submarine Bambrology",
      "issue": "73", "day": 14, "revision": "2", "tags": ["baskety", "wet"], "read":
      false, "volume": "loud", "authors": [{"first_name": "Piers", "last_name": "Bursill-Hall"}],
      "institution": "University of Cambridge", "chapter": "99", "publisher": "Elsevier",
      "type": "journal", "identifiers": {"doi": "doi123"}, "websites": ["http://example.com/foo",
      "http://example.com/bar"], "authored": false, "accessed": "2014-09-03", "starred":
      true, "group_id": null}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"367a73ce-0222-3dc8-8891-754926a5491a","title":"Underwater
        basket weaving","type":"journal","authors":[{"first_name":"Piers","last_name":"Bursill-Hall"}],"year":2014,"source":"Journal
        of Submarine Bambrology","identifiers":{"doi":"doi123"},"keywords":["bambrology","submarine"],"created":"2015-03-09T11:46:04.000Z","pages":"1-6","volume":"loud","issue":"73","websites":["http://example.com/foo","http://example.com/bar"],"month":11,"publisher":"Elsevier","day":14,"city":"Scunthorpe","edition":"First","institution":"University
        of Cambridge","series":"World Series","chapter":"99","revision":"2","editors":[{"first_name":"John","last_name":"Smith"}],"accessed":"2014-09-03","profile_id":"4afc0c0f-88ab-3aed-a20a-f50934fc83b1","last_modified":"2015-03-09T11:46:05.000Z","tags":["baskety","wet"],"read":false,"starred":true,"authored":false,"confirmed":true,"abstract":"The
        wonders of creating exotic baskets in an underwater environment"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/367a73ce-0222-3dc8-8891-754926a5491a']
      x-mendeley-trace-id: [bxuAeis6ygo]
    status: {code: 201, message: Created}
- request:
    body: Some of the boys she knew from college were trying to dodge the draft by
      taking graduate courses, "underwater basketweaving and things like that," as
      Vonda contemptuously put it.
    headers:
      content-disposition: [attachment; filename=basket.txt]
      content-type: [text/plain]
      link: [!!python/unicode '<https://api.mendeley.com/documents/367a73ce-0222-3dc8-8891-754926a5491a>;
          rel="document"']
    method: POST
    uri: https://api.mendeley.com:443/files
  response:
    body: {string: !!python/unicode '{"id":"43efe1c4-84cc-852d-575e-6bd4fb4fdcbf","document_id":"367a73ce-0222-3dc8-8891-754926a5491a","mime_type":"text/plain","file_name":"Underwater
        basket weaving","size":178,"filehash":"92c7a71b371eb439579be559b5eac9c09a743c42"}'}
    headers:
      content-type: [application/vnd.mendeley-file.1+json]
      location: ['https://api.mendeley.com/files/43efe1c4-84cc-852d-575e-6bd4fb4fdcbf']
      x-mendeley-trace-id: [nv02hkgl_j4]
    status: {code: 201, message: Created}
- request:
    body: '{"color": {"r": 255, "b": 240, "g": 125}, "positions": [{"page": 2, "bottom_right":
      {"y": 300, "x": 400}, "top_left": {"y": 300, "x": 400}}], "filehash": "92c7a71b371eb439579be559b5eac9c09a743c42",
      "document_id": "367a73ce-0222-3dc8-8891-754926a5491a"}'
    headers:
      Content-Type: [application/vnd.mendeley-annotation.1+json]
    method: POST
    uri: https://api.mendeley.com:443/annotations/
  response:
    body: {string: !!python/unicode '{"id":"7eb223c7-a952-48cb-9754-7449ab892146","type":"sticky_note","color":{"r":255,"g":125,"b":240},"profile_id":"4afc0c0f-88ab-3aed-a20a-f50934fc83b1","positions":[{"top_left":{"x":400.0,"y":300.0},"bottom_right":{"x":400.0,"y":300.0},"page":2}],"created":"2015-03-09T11:46:05.310Z","last_modified":"2015-03-09T11:46:05.310Z","privacy_level":"private","filehash":"92c7a71b371eb439579be559b5eac9c09a743c42","document_id":"367a73ce-0222-3dc8-8891-754926a5491a"}'}
    headers:
      content-type: [application/vnd.mendeley-annotation.1+json]
      x-mendeley-trace-id: [WzajL7PgzAQ]
    status: {code: 201, message: Created}
- request:
    body: '{"color": {"r": 123, "b": 222, "g": 456}, "text": "New text", "positions":
      [{"page": 2, "bottom_right": {"y": 300, "x": 400}, "top_left": {"y": 300, "x":
      400}}]}'
    headers:
      Content-Type: [application/vnd.mendeley-annotation.1+json]
    method: PATCH
    uri: https://api.mendeley.com:443/annotations/7eb223c7-a952-48cb-9754-7449ab892146
  response:
    body: {string: !!python/unicode '{"id":"7eb223c7-a952-48cb-9754-7449ab892146","type":"sticky_note","color":{"r":123,"g":456,"b":222},"text":"New
        text","profile_id":"4afc0c0f-88ab-3aed-a20a-f50934fc83b1","positions":[{"top_left":{"x":400.0,"y":300.0},"bottom_right":{"x":400.0,"y":300.0},"page":2}],"created":"2015-03-09T11:46:05.310Z","last_modified":"2015-03-09T11:46:05.372Z","privacy_level":"private","filehash":"92c7a71b371eb439579be559b5eac9c09a743c42","document_id":"367a73ce-0222-3dc8-8891-754926a5491a"}'}
    headers:
      content-type: [application/vnd.mendeley-annotation.1+json]
      x-mendeley-trace-id: [BjHle3J9mm4]
    status: {code: 200, message: OK}
version: 1
