interactions:
- request:
    body: '{"type": "journal", "title": "Underwater basket weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"db580382-2998-382f-a2e6-4f860a5116a4","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-03T13:16:50.140Z","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/db580382-2998-382f-a2e6-4f860a5116a4']
      x-mendeley-trace-id: [6zbUXQ61b9o]
    status: {code: 201, message: Created}
version: 1
