interactions:
- request:
    body: '{"accessed": "2014-09-03", "type": "journal", "title": "Underwater basket
      weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"df654002-43a1-3642-9abe-d3dfb0ada44c","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-03T13:16:50.541Z","accessed":"2014-09-03","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/df654002-43a1-3642-9abe-d3dfb0ada44c']
      x-mendeley-trace-id: [zHa0PunYM0s]
    status: {code: 201, message: Created}
version: 1
