interactions:
- request:
    body: '{"group_id": null, "type": "journal", "title": "Underwater basket weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"f32c718e-1e16-31e8-9aa9-f86d1e14462f","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-04T11:38:06.634Z","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/f32c718e-1e16-31e8-9aa9-f86d1e14462f']
      x-mendeley-trace-id: [Dt_H5ib6G10]
    status: {code: 201, message: Created}
version: 1
