interactions:
- request:
    body: '{"type": "journal", "title": "Underwater basket weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"2984781d-7e46-3f03-821d-9d7a7f33e050","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-03T13:04:43.604Z","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/2984781d-7e46-3f03-821d-9d7a7f33e050']
      x-mendeley-trace-id: [ujZGP9XWFdo]
    status: {code: 201, message: Created}
version: 1
