interactions:
- request:
    body: '{"type": "journal", "title": "Underwater basket weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"e81167f4-0aa1-3213-b97b-50f29c8f891d","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-03T11:32:48.803Z","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/e81167f4-0aa1-3213-b97b-50f29c8f891d']
      x-mendeley-trace-id: [wWchx5l3frI]
    status: {code: 201, message: Created}
version: 1
