interactions:
- request:
    body: '{"accessed": "2014-09-03", "group_id": null, "type": "journal", "title":
      "Underwater basket weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"9ec9abea-2b68-372d-a04b-9e466c6e907d","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-04T11:38:07.587Z","accessed":"2014-09-03","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/9ec9abea-2b68-372d-a04b-9e466c6e907d']
      x-mendeley-trace-id: [QWnoGZZ_0BQ]
    status: {code: 201, message: Created}
version: 1
