interactions:
- request:
    body: '{"accessed": "2014-09-03", "type": "journal", "title": "Underwater basket
      weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"74bbc02a-4442-3aa9-a113-b256cb593c39","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-03T11:57:42.192Z","accessed":"2014-09-03","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/74bbc02a-4442-3aa9-a113-b256cb593c39']
      x-mendeley-trace-id: [VVTLUeQAFkc]
    status: {code: 201, message: Created}
version: 1
