interactions:
- request:
    body: '{"accessed": "2014-09-03", "type": "journal", "title": "Underwater basket
      weaving"}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"d2c45062-1373-3757-8d7f-86e6eb9ab243","title":"Underwater
        basket weaving","type":"journal","created":"2014-09-03T13:04:44.410Z","accessed":"2014-09-03","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/d2c45062-1373-3757-8d7f-86e6eb9ab243']
      x-mendeley-trace-id: [WMYq6tRC4Mg]
    status: {code: 201, message: Created}
version: 1
