interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    body: {string: !!python/unicode '{"access_token":"MSwxNDA5MDU0NzAwMTgyLCw4MDEsLCwzWGt1OEV6cEViOEhNck0wVU05ZFp6TmVpbUU","token_type":"bearer","expires_in":3600,"refresh_token":null}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [X2CooKyI2P0]
    status: {code: 200, message: OK}
version: 1
