interactions:
- request:
    body: scope=all&grant_type=client_credentials
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    # N.B.  The tokens below are expired and will not work.
    body: {string: !!python/unicode '{"access_token":"MSwxNDA5MDczNTA2MzQ2LCw4MDEsYWxsLCxqNW9xcUI1bTdFeUM2LVNoOC1YUHB5TjRQcGs","token_type":"bearer","expires_in":3600,"refresh_token":null}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [4rMJ9LdQvXI]
    status: {code: 200, message: OK}
version: 1
