interactions:
- request:
    body: scope=all&grant_type=client_credentials
    headers:
      Content-Type: [!!python/unicode application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    body: {string: !!python/unicode '{"access_token":"MSwxNDE2NDAyNzI1ODMwLCw4MDcsYWxsLCxESWgtYzdwYVhjOElMX3prTFluUVRzZGZxTWs","token_type":"bearer","expires_in":3600,"refresh_token":null,"scope":"all"}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [6KQZgySfLIo]
    status: {code: 200, message: OK}
version: 1
