interactions:
- request:
    body: scope=all&grant_type=client_credentials
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    body: {string: !!python/unicode '{"access_token":"MSwxNDA5MDcxNTM1NTM5LCw4MDEsYWxsLCxJQ3pSYk4yVUE1b1VsYnpfeXE2RnU0eC1OUVE","token_type":"bearer","expires_in":3600,"refresh_token":null}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [yP9a7Kp9yiY]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mendeley.com:443/profiles/me
  response:
    body: {string: !!python/unicode '{"message":"No userid found in auth token"}'}
    headers:
      content-type: [application/vnd.mendeley-profiles.1+json]
      x-mendeley-trace-id: [Ke87nSQyRb8]
    status: {code: 400, message: Bad Request}
version: 1
