interactions:
- request:
    body: code=VE1PtGf81OnTA97S545_9a7GWCA&scope=all&grant_type=authorization_code&client_id=807&redirect_uri=https%3A%2F%2Fexample.com
    headers:
      Content-Type: [!!python/unicode application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    body: {string: !!python/unicode '{"access_token":"MSwxNDE2NDAyNzIyMTM5LDEyNDAxODUxLDgwNyxhbGwsLEpMNHN5dzdsMEsyU1JXVE9HbEtJZVMxaV9law","token_type":"bearer","expires_in":3599,"refresh_token":"MSwxMjQwMTg1MSw4MDcsYWxsLDZwTHEtYzdlazVrZm43U2VZYTNIUWUyd2tkZw","scope":"all"}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [CNBJD0u_vEg]
    status: {code: 200, message: OK}
- request:
    body: code=VE1PtGf81OnTA97S545_9a7GWCA&scope=all&grant_type=authorization_code&client_id=id&redirect_uri=http%3A%2F%2Flocalhost
    headers:
      Content-Type: [!!python/unicode application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    body: {string: !!python/unicode '{"message":"Credentials are required to access
        this resource."}'}
    headers:
      content-type: [application/json]
      www-authenticate: [Basic realm="oauth"]
      x-mendeley-trace-id: [dFunZG9k6jg]
    status: {code: 401, message: Unauthorized}
- request:
    body: code=VE1PtGf81OnTA97S545_9a7GWCA&scope=all&grant_type=authorization_code&client_id=2519&redirect_uri=http%3A%2F%2Flocalhost
    headers:
      Content-Type: [!!python/unicode application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    body: {string: !!python/unicode '{"error":"invalid_grant","error_description":"Invalid
        access code"}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [WMC7qqfktk8]
    status: {code: 400, message: Bad Request}
[...]
- request:
    body: code=VE1PtGf81OnTA97S545_9a7GWCA&scope=all&grant_type=authorization_code&client_id=2519&redirect_uri=http%3A%2F%2Flocalhost
    headers:
      Content-Type: [!!python/unicode application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.mendeley.com:443/oauth/token
  response:
    body: {string: !!python/unicode '{"error":"invalid_grant","error_description":"Invalid
        access code"}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [VZtqOPlkooY]
    status: {code: 400, message: Bad Request}
version: 1
