interactions:
- request:
    body: '{"series": "World Series", "abstract": "The wonders of creating exotic
      baskets in an underwater environment", "month": 11, "edition": "First", "year":
      2014, "keywords": ["bambrology", "submarine"], "city": "Scunthorpe", "confirmed":
      true, "title": "Underwater basket weaving", "editors": [{"first_name": "John",
      "last_name": "Smith"}], "pages": "1-6", "source": "Journal of Submarine Bambrology",
      "issue": "73", "day": 14, "revision": "2", "tags": ["baskety", "wet"], "read":
      false, "volume": "loud", "authors": [{"first_name": "Piers", "last_name": "Bursill-Hall"}],
      "institution": "University of Cambridge", "chapter": "99", "publisher": "Elsevier",
      "type": "journal", "identifiers": {"doi": "doi123"}, "websites": ["http://example.com/foo",
      "http://example.com/bar"], "authored": false, "accessed": "2014-09-03", "starred":
      true, "group_id": null}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"b7ddeaa7-1a06-35fe-a11e-1ae068c560bb","title":"Underwater
        basket weaving","type":"journal","authors":[{"first_name":"Piers","last_name":"Bursill-Hall"}],"year":2014,"source":"Journal
        of Submarine Bambrology","identifiers":{"doi":"doi123"},"keywords":["bambrology","submarine"],"created":"2014-09-04T11:46:23.106Z","pages":"1-6","volume":"loud","issue":"73","websites":["http://example.com/foo","http://example.com/bar"],"month":11,"publisher":"Elsevier","day":14,"city":"Scunthorpe","edition":"First","institution":"University
        of Cambridge","series":"World Series","chapter":"99","revision":"2","editors":[{"first_name":"John","last_name":"Smith"}],"accessed":"2014-09-03","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94","tags":["baskety","wet"],"read":false,"starred":true,"authored":false,"confirmed":true,"abstract":"The
        wonders of creating exotic baskets in an underwater environment"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/b7ddeaa7-1a06-35fe-a11e-1ae068c560bb']
      x-mendeley-trace-id: [5iIXGTK27vM]
    status: {code: 201, message: Created}
- request:
    body: !!python/object:__builtin__.file {}
    headers:
      content-disposition: [attachment; filename=basket.txt]
      content-type: [text/plain]
      link: [!!python/unicode '<https://api.mendeley.com/documents/b7ddeaa7-1a06-35fe-a11e-1ae068c560bb>;
          rel="document"']
    method: POST
    uri: https://api.mendeley.com:443/files
  response:
    body: {string: !!python/unicode '{"id":"43efe1c4-84cc-852d-044c-ad5bb1388c2a","document_id":"b7ddeaa7-1a06-35fe-a11e-1ae068c560bb","mime_type":"text/plain","file_name":"Underwater
        basket weaving","size":178,"filehash":"92c7a71b371eb439579be559b5eac9c09a743c42"}'}
    headers:
      content-type: [application/vnd.mendeley-file.1+json]
      location: ['https://api.mendeley.com/files/43efe1c4-84cc-852d-044c-ad5bb1388c2a']
      x-mendeley-trace-id: [mviMTz5NXRI]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mendeley.com:443/files/43efe1c4-84cc-852d-044c-ad5bb1388c2a
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://mendeley-files.s3.amazonaws.com/92/c7/92c7a71b371eb439579be559b5eac9c09a743c42?response-content-disposition=attachment%3Bfilename%3D%222014%2DUnderwater%5Fbasket%5Fweaving%2Etxt%22&response-content-type=text%2Fplain&AWSAccessKeyId=AKIAJGTIMKBSM3FEA25A&Expires=1409831784&Signature=6MtjTfkp9uMO8kky84sNAYgO84k%3D']
      x-mendeley-trace-id: [bNflYCb4urw]
    status: {code: 303, message: See Other}
- request:
    body: null
    headers:
    method: GET
    uri: https://mendeley-files.s3.amazonaws.com:443/92/c7/92c7a71b371eb439579be559b5eac9c09a743c42?response-content-disposition=attachment%3Bfilename%3D%222014-Underwater_basket_weaving.txt%22&response-content-type=text%2Fplain&AWSAccessKeyId=AKIAJGTIMKBSM3FEA25A&Expires=1409831784&Signature=6MtjTfkp9uMO8kky84sNAYgO84k%3D
  response:
    body: {string: !!python/unicode 'Some of the boys she knew from college were trying
        to dodge the draft by taking graduate courses, "underwater basketweaving and
        things like that," as Vonda contemptuously put it.'}
    headers:
      content-disposition: [attachment;filename="2014-Underwater_basket_weaving.txt"]
      content-type: [text/plain]
      etag: ['"6fd759c9aaee0678ff85ec1413391a04"']
      last-modified: ['Thu, 04 Sep 2014 11:30:19 GMT']
      x-amz-meta-md5-hash: [6fd759c9aaee0678ff85ec1413391a04]
      x-amz-request-id: [322AF69CF5506758]
    status: {code: 200, message: OK}
version: 1
