interactions:
- request:
    body: '{"series": "World Series", "abstract": "The wonders of creating exotic
      baskets in an underwater environment", "month": 11, "edition": "First", "year":
      2014, "keywords": ["bambrology", "submarine"], "city": "Scunthorpe", "confirmed":
      true, "title": "Underwater basket weaving", "editors": [{"first_name": "John",
      "last_name": "Smith"}], "pages": "1-6", "source": "Journal of Submarine Bambrology",
      "issue": "73", "day": 14, "revision": "2", "tags": ["baskety", "wet"], "read":
      false, "volume": "loud", "authors": [{"first_name": "Piers", "last_name": "Bursill-Hall"}],
      "institution": "University of Cambridge", "chapter": "99", "publisher": "Elsevier",
      "type": "journal", "identifiers": {"doi": "doi123"}, "websites": ["http://example.com/foo",
      "http://example.com/bar"], "authored": false, "accessed": "2014-09-03", "starred":
      true, "group_id": null}'
    headers:
      Content-Type: [application/vnd.mendeley-document.1+json]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"922b0b34-dcb0-39ea-9617-57745e983b78","title":"Underwater
        basket weaving","type":"journal","authors":[{"first_name":"Piers","last_name":"Bursill-Hall"}],"year":2014,"source":"Journal
        of Submarine Bambrology","identifiers":{"doi":"doi123"},"keywords":["bambrology","submarine"],"created":"2014-09-04T11:39:41.201Z","pages":"1-6","volume":"loud","issue":"73","websites":["http://example.com/foo","http://example.com/bar"],"month":11,"publisher":"Elsevier","day":14,"city":"Scunthorpe","edition":"First","institution":"University
        of Cambridge","series":"World Series","chapter":"99","revision":"2","editors":[{"first_name":"John","last_name":"Smith"}],"accessed":"2014-09-03","profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94","tags":["baskety","wet"],"read":false,"starred":true,"authored":false,"confirmed":true,"abstract":"The
        wonders of creating exotic baskets in an underwater environment"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/922b0b34-dcb0-39ea-9617-57745e983b78']
      x-mendeley-trace-id: [oTe_nA8hcDY]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: POST
    uri: https://api.mendeley.com:443/documents/922b0b34-dcb0-39ea-9617-57745e983b78/trash
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://api.mendeley.com/trash/922b0b34-dcb0-39ea-9617-57745e983b78']
      x-mendeley-trace-id: [v7UDKwwNkqE]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mendeley.com:443/documents/922b0b34-dcb0-39ea-9617-57745e983b78
  response:
    body: {string: !!python/unicode '{"message":"Document not found"}'}
    headers:
      content-type: [application/json]
      x-mendeley-trace-id: [lNF_gG1yGQE]
    status: {code: 404, message: Not Found}
version: 1
