interactions:
- request:
    body: Some of the boys she knew from college were trying to dodge the draft by
      taking graduate courses, "underwater basketweaving and things like that," as
      Vonda contemptuously put it.
    headers:
      content-disposition: [attachment; filename=basket.txt]
      content-type: [text/plain]
    method: POST
    uri: https://api.mendeley.com:443/documents
  response:
    body: {string: !!python/unicode '{"id":"6505871a-b35f-3d91-8c24-0dbc09f33838","title":"basket.txt","type":"journal","created":"2014-11-17T17:12:18.000Z","file_attached":true,"profile_id":"9930207c-c19f-3de0-b531-86bd4388fa94","last_modified":"2014-11-17T17:12:18.000Z"}'}
    headers:
      content-type: [application/vnd.mendeley-document.1+json]
      location: ['https://api.mendeley.com/documents/6505871a-b35f-3d91-8c24-0dbc09f33838']
      x-mendeley-trace-id: [4LGj5z6UMv0]
    status: {code: 201, message: Created}
version: 1
